body {
  background-color: #ffffaa;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
}

h2 {
  color: #0000aa;
}

p {
  font-size: 22px;
}

ul {

}

ol {

}

li {
  
}
